<%= form_for(@items_list) do |f| %>
  <% if @items_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@items_list.errors.count, "error") %> prohibited this items_list from being saved:</h2>

      <ul>
      <% @items_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buy_price %><br />
    <%= f.text_field :buy_price %>
  </div>
  <div class="field">
    <%= f.label :bought %><br />
    <%= f.check_box :bought %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
