<h1>Listing items_lists</h1>

<table>
  <tr>
    <th>Buy price</th>
    <th>Bought</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items_lists.each do |items_list| %>
  <tr>
    <td><%= items_list.buy_price %></td>
    <td><%= items_list.bought %></td>
    <td><%= items_list.quantity %></td>
    <td><%= link_to 'Show', items_list %></td>
    <td><%= link_to 'Edit', edit_items_list_path(items_list) %></td>
    <td><%= link_to 'Destroy', items_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Items list', new_items_list_path %>
