<p id="notice"><%= notice %></p>

<p>
  <b>Buy price:</b>
  <%= @items_list.buy_price %>
</p>

<p>
  <b>Bought:</b>
  <%= @items_list.bought %>
</p>

<p>
  <b>Quantity:</b>
  <%= @items_list.quantity %>
</p>


<%= link_to 'Edit', edit_items_list_path(@items_list) %> |
<%= link_to 'Back', items_lists_path %>
